
.location-container {
    height: 750px;
    overflow-y: scroll;
    overflow-x: hidden; 
}


.test {
	border: 1px solid black;
}

.save-icon {
    font-size: 40px !important;
    color: #2780E3;
}

.save-icon:hover {
    box-shadow: 0 .25rem 2rem -.5rem rgba(28,75,102,.3);
    background-color: #fff;
    color: #000 !important;
    border-color: rgba(5,37,48,.01);
}



.activity-container {
    height: 450px;
    overflow-x: scroll;
    overflow-y: hidden; 
    /*display: inline-block;*/

}

.text-break {
    /*overflow-wrap: break-word;*/
    white-space: normal;
}

.activity-item {
    /*display: inline-block;*/
    max-height: 300px !important;
}
